@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

/* тёмный серый */
/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(0, 204, 102);
  background-color: rgb(25, 25, 25);
  margin-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Search */
.conteiner-header {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: nowrap;
}

.input-search {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-search:hover {
  border-color: blue;
}

.search-button {
  padding: 10px;
  border: 2px solid #ddd;
  background-color: #f0c14b;
  border-left: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 100px;
}

.search-button:hover {
  background-color: #e2b638;
}

/*  END Search */
ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

ul li {
  list-style-type: none;
  margin: 20px;
  padding: 5px;
  font-size: 20px;
  padding-left: 10px;
  margin-left: 100px;
  padding-right: 10px;
  border-radius: 10px;
  text-align: center;
}

ul li:hover {
  outline: 2px solid white;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:focus {
  outline: none;
}

.logo {
  position: absolute;
  left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  background-color: rgb(25, 25, 25);
}

.logo:hover {
  transform: scale(1.1);
}

/* Кнопки Войти и Зарегистрироваться */
.sing-button {
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}

.Sing-up a {
  color: white;
}

.Sing-in a {
  color: white;
}

.Sing-up, .Sing-in {
  background: none;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.Sing-up:hover, .Sing-in:hover {
  outline: 2px solid white;
}

.login {
  position: absolute;
  right: 20px;
}

/* Кнопки Войти и Зарегистрироваться */
/* Header */
/* Main */
main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.category-block {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-block h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.subject {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.subject img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.subject p {
  margin: 0;
  font-size: 1em;
  color: #555;
}

.subject-block a {
  margin-top: 10px;
  color: #0073bb;
  text-decoration: none;
  font-weight: bold;
}

.category-block a:hover {
  text-decoration: underline;
}

.category-block:hover {
  box-shadow: rgb(0, 204, 102) 0px, 1px;
}

.subject:hover img {
  transform: scale(1.3);
}

#Add-Block {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#AddButton {
  background: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

/* Main */
body {
  background-color: rgb(15, 15, 15);
}/*# sourceMappingURL=style.css.map */